@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="container container-auth">
    <div class="col-sm-6 shadow py-3">
        <h2>Forgot password confirmation</h2>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

